{% extends "appterceraentrega/padre.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link href="{% static 'appterceraentrega/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    {% block contenidoQueCambia %} 

    <h1>Cursos</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario.as_table }}

        <input type="submit" value="Enviar">
    </form>

    <h3>Buscar por id:</h3>

    <form action="" method="GET">
        <input type="number" name="id">
        <input type="submit" value="Buscar">
    </form>

    {% if curso != "" %}
    <p>El curso buscado es: {{curso.nombre}} - {{curso.camada}}</p>
    {% endif %}

    <table class="table_preentrega">
        <thead>
            <tr>
                <th class="th_preentrega">ID</th>
                <th class="th_preentrega">Nombre</th>
                <th class="th_preentrega">Camada</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td class="td_preentrega">{{ curso.id }}</td>
                <td class="td_preentrega">{{ curso.nombre }}</td>
                <td class="td_preentrega">{{ curso.camada }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

</body>
</html>