<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <style>
        table {
            width: 70%;
            margin: 20px 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 3px;
        }
        th {
            background-color: #f2f2f2;
            color: #333;
            text-align: center;
        }        
    </style>
</head>
<body>
    

    {% extends "appterceraentrega/padre.html" %}

    {% load static %}

    {% block contenidoQueCambia %} 

    <h1>Cursos</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario.as_table }}

        <input type="submit" value="Enviar">
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Camada</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.id }}</td>
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.camada }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}

</body>
</html>