{% extends "appterceraentrega/padre.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores</title>
    <link rel="stylesheet" href="{% static 'appterceraentrega/css/styles.css' %}">
</head>
<body>
    {% block contenidoQueCambia %} 

    <h1>Profesores</h1>
    
    <h3>Agregar Profesor:</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario.as_table }}

        <input type="submit" value="Enviar">
    </form>

    <h3>Buscar por id:</h3>

    <form action="" method="GET">
        <input type="number" name="id">
        <input type="submit" value="Buscar">
    </form>

    {% if profesor != "" %}
    <p>El profesor buscado es: {{profesor.nombre}} {{profesor.apellido}} - {{profesor.profesion}}</p>
    {% endif %}

    <table class="table_preentrega">
        <thead>
            <tr>
                <th class="th_preentrega">ID</th>
                <th class="th_preentrega">Nombre</th>
                <th class="th_preentrega">Apellido</th>
                <th class="th_preentrega">Profesion</th>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td class="td_preentrega">{{ profesor.id }}</td>
                <td class="td_preentrega">{{ profesor.nombre }}</td>
                <td class="td_preentrega">{{ profesor.apellido }}</td>
                <td class="td_preentrega">{{ profesor.profesion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

</body>
</html>